.main{
    border: 4px solid rgb(204, 202, 202);
    border-radius: 10px;
    overflow: hidden;
    width: max-content;
    margin-left: 20px;
    display: flex;
    height: max-content;
}
.main button{
    border: 0px solid rgb(240, 237, 237);
    padding: 1px 10px;
    background-color: rgb(212, 212, 241);
    font-weight: 900;
    
}
.main img{
    width: 250px;
    height: 200px;
}