.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.main a{
    text-decoration: none;
    background-color: var(--button-color);
    margin: 10px 5px;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    color:black;
    border:1px solid var(--button-color)
     ;
     transition: all 0.1s linear;
}
.main a:hover{
    background-color: transparent;
    color: var(--button-text-color);
}
.main a :visited{
    color: black;
}
.options{
 display: flex;
 flex-direction: column;
}
.logOut{
    margin-bottom: 20px;
}
.logOut a{
    background-color: var(--red-button-color);
    border:var(--red-button-border);
}
.logOut a:hover{
    background-color: transparent;
    color: var(--red-button-color);
    border: var(--red-button-border)
}