.main{
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: max-content 1fr;
}
.inputs button{
    border: 2px solid var(--button-color);
    font-size: 18px;
}