.main{
    background-color: rgb(134, 134, 252);
    width: 20px;
    height: 25px;
    position: relative;
    border-radius: 2;
}
.main::after{
    content:'';
    position: absolute;
    background-color: rgb(134, 134, 252);
    top: 2px;
    border: 2px solid rgb(57, 57, 90);
    bottom: 2px;
    right: -2px;
    width: 8px;
    border-radius: 5px;
}